## Taking database created in MySQL and extracting tables from it

### Importing libraries

In [1]:
from sqlalchemy import create_engine
import pandas as pd

### Read data from MySQL

In [2]:
import mysql.connector

connection = mysql.connector.connect(
    host="localhost",
    database="imdb",
    user="root",
    password=""
)
 
cursor = connection.cursor(dictionary=True)
cursor.execute("SELECT * from directors;")
directors = cursor.fetchall()

In [3]:
directors

[{'id': 1, 'name': 'Frank Darabont'},
 {'id': 2, 'name': 'Francis Ford Coppola'},
 {'id': 3, 'name': 'Christopher Nolan'},
 {'id': 4, 'name': 'Steven Spielberg'},
 {'id': 5, 'name': 'Peter Jackson'},
 {'id': 6, 'name': 'Sidney Lumet'},
 {'id': 7, 'name': 'Quentin Tarantino'},
 {'id': 8, 'name': 'David Fincher'},
 {'id': 9, 'name': 'Robert Zemeckis'},
 {'id': 10, 'name': 'Sergio Leone'},
 {'id': 11, 'name': 'Lana Wachowski'},
 {'id': 12, 'name': 'Lilly Wachowski'},
 {'id': 13, 'name': 'Milos Forman'},
 {'id': 14, 'name': 'Martin Scorsese'},
 {'id': 15, 'name': 'Irvin Kershner'},
 {'id': 16, 'name': 'Jonathan Demme'},
 {'id': 17, 'name': 'George Lucas'},
 {'id': 18, 'name': 'James Cameron'},
 {'id': 19, 'name': 'Hayao Miyazaki'},
 {'id': 20, 'name': 'Roberto Benigni'},
 {'id': 21, 'name': 'Fernando Meirelles'},
 {'id': 22, 'name': 'Kátia Lund'},
 {'id': 23, 'name': 'Frank Capra'},
 {'id': 24, 'name': 'Akira Kurosawa'},
 {'id': 25, 'name': 'Masaki Kobayashi'},
 {'id': 26, 'name': 'Damien Chazelle'},
 {'id': 27, 'name': 'Ridley Scott'},
 {'id': 28, 'name': 'Bong Joon Ho'},
 {'id': 29, 'name': 'Luc Besson'},
 {'id': 30, 'name': 'Bryan Singer'},
 {'id': 31, 'name': 'Roger Allers'},
 {'id': 32, 'name': 'Rob Minkoff'},
 {'id': 33, 'name': 'Tony Kaye'},
 {'id': 34, 'name': 'Roman Polanski'},
 {'id': 35, 'name': 'Olivier Nakache'},
 {'id': 36, 'name': 'Éric Toledano'},
 {'id': 37, 'name': 'Michael Curtiz'},
 {'id': 38, 'name': 'Alfred Hitchcock'},
 {'id': 39, 'name': 'Isao Takahata'},
 {'id': 40, 'name': 'Giuseppe Tornatore'},
 {'id': 41, 'name': 'Charles Chaplin'},
 {'id': 42, 'name': 'Anthony Russo'},
 {'id': 43, 'name': 'Joe Russo'},
 {'id': 44, 'name': 'Todd Phillips'},
 {'id': 45, 'name': 'Sam Mendes'},
 {'id': 46, 'name': 'Park Chan-wook'},
 {'id': 47, 'name': 'Stanley Kubrick'},
 {'id': 48, 'name': 'Bob Persichetti'},
 {'id': 49, 'name': 'Peter Ramsey'},
 {'id': 50, 'name': 'Rodney Rothman'},
 {'id': 51, 'name': 'Mel Gibson'},
 {'id': 52, 'name': 'Elem Klimov'},
 {'id': 53, 'name': 'Lee Unkrich'},
 {'id': 54, 'name': 'Adrian Molina'},
 {'id': 55, 'name': 'Andrew Stanton'},
 {'id': 56, 'name': 'Makoto Shinkai'},
 {'id': 57, 'name': 'Florian Henckel von Donnersmarck'},
 {'id': 58, 'name': 'Rajkumar Hirani'},
 {'id': 59, 'name': 'Nadine Labaki'},
 {'id': 60, 'name': 'Wolfgang Petersen'},
 {'id': 61, 'name': 'Billy Wilder'},
 {'id': 62, 'name': 'Gus Van Sant'},
 {'id': 63, 'name': 'Darren Aronofsky'},
 {'id': 64, 'name': 'Michel Gondry'},
 {'id': 65, 'name': 'Thomas Vinterberg'},
 {'id': 66, 'name': 'John Lasseter'},
 {'id': 67, 'name': 'Richard Marquand'},
 {'id': 68, 'name': 'David Lean'},
 {'id': 69, 'name': 'Stanley Donen'},
 {'id': 70, 'name': 'Gene Kelly'},
 {'id': 71, 'name': 'Orson Welles'},
 {'id': 72, 'name': 'Fritz Lang'}]

## Connecting to Redis server

In [4]:
import redis

In [5]:
r = redis.StrictRedis(host='localhost', port = 6379, db=0)

## Setting a key with a specific value in Redis

In [6]:
for director in directors:
    rating = director['id']
    name = director['name']
    data = {'id':rating,'name':name}
    
    for key, value in data.items():
        r.hset(rating, key, value)

## Retrieving the value of a key from Redis

In [7]:
r.hgetall(2)

{b'id': b'2', b'name': b'Francis Ford Coppola'}

In [8]:
r.hgetall(50)

{b'id': b'50', b'name': b'Rodney Rothman'}

###  Deleting a key-value pair from Redis

In [9]:
r.delete(2)

1

In [10]:
r.hgetall(2)

{}