## Map and Filter

In [1]:
numbers = [1,2,3,4,5,6,7,8,9]

#### Each element in the list of numbers doubled using map

In [2]:
doubled_numbers = list(map(lambda x: x*2, numbers))

doubled_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18]

#### Only the odd numbers selected from a list of integers using the filter function

In [3]:
odd_numbers = list(filter(lambda x: x%2 != 0, numbers))

odd_numbers

[1, 3, 5, 7, 9]

## Pandas

In [4]:
import pandas as pd

#### CSV file read into a pandas DataFrame and the first few rows displayed

In [5]:
data = pd.read_csv("organizations.csv")

In [6]:
df = pd.DataFrame(data)

In [7]:
df.head(5)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870

#### DataFrame grouped by "Country" column and  the average of "Number of employees" column calculated

In [8]:
df.groupby(by="Country")["Number of employees"].mean()

Country
Anguilla          4292.0
Australia         4155.0
Bahamas           4914.0
Belarus           3715.0
Belgium           5038.0
                   ...
Uruguay           6874.0
Uzbekistan        9698.0
Vietnam           9097.0
Western Sahara    1746.0
Zimbabwe          5504.0
Name: Number of employees, Length: 84, dtype: float64

#### Two DataFrames merged based on a "Country" column

In [9]:
data2 = pd.read_csv("wikipedia-iso-country-codes.csv")

In [10]:
df2 = pd.DataFrame(data2)

In [11]:
df2

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW
1,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
2,Yemen,YE,YEM,887,ISO 3166-2:YE
3,Western Sahara,EH,ESH,732,ISO 3166-2:EH
4,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
...,...,...,...,...,...
241,American Samoa,AS,ASM,16,ISO 3166-2:AS
242,Algeria,DZ,DZA,12,ISO 3166-2:DZ
243,Albania,AL,ALB,8,ISO 3166-2:AL
244,Afghanistan,AF,AFG,4,ISO 3166-2:AF
245,Åland Islands,AX,ALA,248,ISO 3166-2:AX

In [12]:
df2.rename(columns={"English short name lower case":"Country"},inplace=True)
df2

               Country Alpha-2 code Alpha-3 code  Numeric code     ISO 3166-2
0             Zimbabwe           ZW          ZWE           716  ISO 3166-2:ZW
1               Zambia           ZM          ZMB           894  ISO 3166-2:ZM
2                Yemen           YE          YEM           887  ISO 3166-2:YE
3       Western Sahara           EH          ESH           732  ISO 3166-2:EH
4    Wallis and Futuna           WF          WLF           876  ISO 3166-2:WF
..                 ...          ...          ...           ...            ...
241     American Samoa           AS          ASM            16  ISO 3166-2:AS
242            Algeria           DZ          DZA            12  ISO 3166-2:DZ
243            Albania           AL          ALB             8  ISO 3166-2:AL
244        Afghanistan           AF          AFG             4  ISO 3166-2:AF
245      Åland Islands           AX          ALA           248  ISO 3166-2:AX

[246 rows x 5 columns]

In [13]:
df.merge(df2,on="Country",how="left")

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498,PG,PNG,598.0,ISO 3166-2:PG
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952,FI,FIN,246.0,ISO 3166-2:FI
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287,CN,CHN,156.0,ISO 3166-2:CN
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921,TM,TKM,795.0,ISO 3166-2:TM
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870,MU,MUS,480.0,ISO 3166-2:MU
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0a0bfFbBbB8eC7c,Holmes Group,https://mcdowell.org/,Ethiopia,Right-sized zero tolerance focus group,1975,Photography,2988,ET,ETH,231.0,ISO 3166-2:ET
96,97,BA6Cd9Dae2Efd62,Good Ltd,http://duffy.com/,Anguilla,Reverse-engineered composite moratorium,1971,Consumer Services,4292,AI,AIA,660.0,ISO 3166-2:AI
97,98,E7df80C60Abd7f9,Clements-Espinoza,http://www.flowers.net/,Falkland Islands (Malvinas),Progressive modular hub,1991,Broadcast Media,236,FK,FLK,238.0,ISO 3166-2:FK
98,99,AFc285dbE2fEd24,Mendez Inc,https://www.burke.net/,Kyrgyz Republic,User-friendly exuding migration,1993,Education Management,339,NaN,NaN,NaN,NaN
99,100,e9eB5A60Cef8354,Watkins-Kaiser,http://www.herring.com/,Togo,Synergistic background access,2009,Financial Services,2785,TG,TGO,768.0,ISO 3166-2:TG

## Namedtuple

#### Person named tuple defined with fields for name, age, and city. Instances of Person created and their attributes accessed

In [14]:
from collections import namedtuple

Person =namedtuple("Person",["name","age","city"]) 

jack = Person("Jack",30,"Havana")
joe = Person("Joe",25,"Miami")

In [15]:
jack.name

'Jack'

In [16]:
joe.age

25

In [17]:
jack.city

'Havana'

## Counter

In [18]:
from collections import Counter
import re

flying_circus = "Hegel is arguing that the reality is merely an a priori adjunct of non-naturalistic ethics, Kant via the categorical imperative is holding that ontologically it exists only in the imagination, and Marx claims it was offside. We use only the finest baby frogs, dew picked and flown from Iraq, cleansed in finest quality spring water, lightly killed, and then sealed in a succulent Swiss quintuple smooth treble cream milk chocolate envelope and lovingly frosted with glucose."
holy_grail = "The Lady of the Lake, her arm clad in the purest shimmering samite held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. THAT is why I am your king. Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers. By hanging on to outdated imperialist dogma which perpetuates the economic and social differences in our society. What is the capital of Assyria? Listen, strange women lyin' in ponds distributin' swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony."

#### Frequency of each word in a given text counted and the top 5 most common words dispalyed.

In [19]:
def clean_text(text):
    return re.sub(r"[^\w\s]","",text).split(" ")

flying_circus_clean = clean_text(flying_circus)
holy_grail_clean = clean_text(holy_grail)

Counter(flying_circus_clean).most_common(5)

[('the', 4), ('and', 4), ('is', 3), ('in', 3), ('that', 2)]

#### Two counters merged together and the total count of each element calculated.

In [20]:
a = Counter(flying_circus_clean)
b = Counter(holy_grail_clean)

a + b

Counter({'Hegel': 1,
         'is': 6,
         'arguing': 1,
         'that': 4,
         'the': 12,
         'reality': 1,
         'merely': 1,
         'an': 1,
         'a': 4,
         'priori': 1,
         'adjunct': 1,
         'of': 5,
         'nonnaturalistic': 1,
         'ethics': 1,
         'Kant': 1,
         'via': 1,
         'categorical': 1,
         'imperative': 1,
         'holding': 1,
         'ontologically': 1,
         'it': 2,
         'exists': 1,
         'only': 2,
         'in': 6,
         'imagination': 1,
         'and': 5,
         'Marx': 1,
         'claims': 1,
         'was': 2,
         'offside': 1,
         'We': 1,
         'use': 1,
         'finest': 2,
         'baby': 1,
         'frogs': 1,
         'dew': 1,
         'picked': 1,
         'flown': 1,
         'from': 5,
         'Iraq': 1,
         'cleansed': 1,
         'quality': 1,
         'spring': 1,
         'water': 2,
         'lightly': 1,
         'killed': 1,
         'then': 1,
         'sealed': 1,
         'succulent': 1,
         'Swiss': 1,
         'quintuple': 1,
         'smooth': 1,
         'treble': 1,
         'cream': 1,
         'milk': 1,
         'chocolate': 1,
         'envelope': 1,
         'lovingly': 1,
         'frosted': 1,
         'with': 1,
         'glucose': 1,
         'The': 1,
         'Lady': 1,
         'Lake': 1,
         'her': 1,
         'arm': 1,
         'clad': 1,
         'purest': 1,
         'shimmering': 1,
         'samite': 1,
         'held': 1,
         'aloft': 1,
         'Excalibur': 2,
         'bosom': 1,
         'signifying': 1,
         'by': 1,
         'divine': 1,
         'providence': 1,
         'I': 2,
         'Arthur': 1,
         'to': 2,
         'carry': 1,
         'THAT': 1,
         'why': 1,
         'am': 1,
         'your': 1,
         'king': 2,
         'Oh': 1,
         'eh': 2,
         'Very': 1,
         'nice': 1,
         'And': 1,
         'howd': 1,
         'you': 1,
         'get': 1,
         'By': 2,
         'exploiting': 1,
         'workers': 1,
         'hanging': 1,
         'on': 1,
         'outdated': 1,
         'imperialist': 1,
         'dogma': 1,
         'which': 1,
         'perpetuates': 1,
         'economic': 1,
         'social': 1,
         'differences': 1,
         'our': 1,
         'society': 1,
         'What': 1,
         'capital': 1,
         'Assyria': 1,
         'Listen': 1,
         'strange': 1,
         'women': 1,
         'lyin': 1,
         'ponds': 1,
         'distributin': 1,
         'swords': 1,
         'no': 1,
         'basis': 1,
         'for': 1,
         'system': 1,
         'government': 1,
         'Supreme': 1,
         'executive': 1,
         'power': 1,
         'derives': 1,
         'mandate': 1,
         'masses': 1,
         'not': 1,
         'some': 1,
         'farcical': 1,
         'aquatic': 1,
         'ceremony': 1})

## Deque

In [21]:
from collections import deque

#### A deque used to implement a queue and perform enqueue and dequeue operations.

In [22]:
d = deque([0,1,2,3,4,5,6,7,8,9])

d.pop()
d.popleft()
d.appendleft(-1)
d.append(-11)
d

deque([-1, 1, 2, 3, 4, 5, 6, 7, 8, -11])

#### Reverse the order of elements in a deque.

In [23]:
d.reverse()

d

deque([-11, 8, 7, 6, 5, 4, 3, 2, 1, -1])

## DefaultDict

In [24]:
from collections import defaultdict

#### DefaultDict that maps a character to a list of words starting with that character created

In [25]:
words = ['do','call','say','make','seem','go','know','give','take','see','come','think',
     'look','want','use','find','tell','ask','work','feel','leave']

my_dict = defaultdict(list)

for word in words:
    my_dict[word[0]].append(word)

my_dict

defaultdict(list,
            {'d': ['do'],
             'c': ['call', 'come'],
             's': ['say', 'seem', 'see'],
             'm': ['make'],
             'g': ['go', 'give'],
             'k': ['know'],
             't': ['take', 'think', 'tell'],
             'l': ['look', 'leave'],
             'w': ['want', 'work'],
             'u': ['use'],
             'f': ['find', 'feel'],
             'a': ['ask']})

#### The sum of values for each key in a dictionary using a defaultdict calculated

In [26]:
for key, value in my_dict.items():
    print(f'{key}: {len(value)}')

d: 1
c: 2
s: 3
m: 1
g: 2
k: 1
t: 3
l: 2
w: 2
u: 1
f: 2
a: 1

## Reduce

In [27]:
from functools import reduce

#### Reduce used to find the maximum element in a list of numbers.

In [28]:
elements = [5,7,6,20,-4,3,1,15]

reduce(max,elements)

20

#### A list of strings combined into a single string using reduce

In [29]:
list_of_strings = ["Good", "morning", ",", "sunshine", "!"]

def combine(x,y):
    return x + " " + y

reduce(combine, list_of_strings)

'Good morning , sunshine !'