# Cassandra tasks:

### Connecting to Cassandra database

#### Importing libraries

In [1]:
from cassandra.cluster import Cluster
import uuid
from datetime import datetime
import sys

#### Creating a connection to database

In [2]:
cluster = Cluster(["127.0.0.1"], port=9042)

In [3]:
session = cluster.connect()

In [4]:
create_keyspace_query = """
    CREATE KEYSPACE IF NOT EXISTS e_commerce
    WITH replication = {'class':'SimpleStrategy', 'replication_factor':1}
"""

session.execute(create_keyspace_query)

## 1. Data Model Creation:

### Design a data model for an e-commerce platform to handle products, orders, and user information. Define appropriate column families and primary keys to ensure efficient querying.

#### Creating tables:

In [5]:
session.execute("USE e_commerce")

In [6]:
session.execute(""" 
    CREATE TABLE IF NOT EXISTS users (
        id UUID PRIMARY KEY, 
        name TEXT, 
        last_name TEXT, 
        age INT
    )
""")

session.execute(""" 
    CREATE TABLE IF NOT EXISTS products (
        id UUID PRIMARY KEY, 
        name TEXT,
        price INT,
        stock INT
    )
""")

session.execute(""" 
    CREATE TABLE IF NOT EXISTS orders (
        id UUID PRIMARY KEY, 
        user_id UUID, 
        product_id UUID, 
        amount INT,
        date TIMESTAMP
    )
""")

## 2. Data Insertion and Retrieval:

### Insert sample data into the Cassandra database, including user information and product details.

#### Inserting data into tables:

In [7]:
users_data = [
    [uuid.uuid4(),"Johny","Bravo",32],
    [uuid.uuid4(),"Mike","Muller",23],
    [uuid.uuid4(),"Linda","Joe",18],
    [uuid.uuid4(),"Mary","Jane",27]
]

In [8]:
insertion_query = "INSERT INTO users (id, name, last_name, age) VALUES(?,?,?,?)"

prepared_stmt = session.prepare(insertion_query)

for record in users_data:
    session.execute_async(prepared_stmt, record)

In [9]:
products_data = [
    [uuid.uuid4(),"PC",1250,42],
    [uuid.uuid4(),"Phone",790,33],
    [uuid.uuid4(),"Tablet",600,18],
    [uuid.uuid4(),"Mouse",39,152]
]

In [10]:
products_insertion_query = "INSERT INTO products (id, name, price, stock) VALUES(?,?,?,?)"

prepared_stmt = session.prepare(products_insertion_query)

for record in products_data:
    session.execute_async(prepared_stmt, record)

In [11]:
def check_user_id(user_name,user_last_name):
    try:
        user_query = "SELECT id FROM users WHERE name = %s AND last_name = %s ALLOW FILTERING"
        user_result = session.execute(user_query, (user_name, user_last_name,))
        user_id = user_result.one().id
        return user_id
    except Exception as e:
        print(f"Sorry, this user is not registered: {e}")

In [12]:
def order(user_name, user_last_name, product_name, amount_ordered):
    
    user_id = check_user_id(user_name,user_last_name)
    
    try:
        product_query = "SELECT id, stock FROM products WHERE name = %s ALLOW FILTERING"
        product_result = session.execute(product_query, (product_name,))
        product_id = product_result.one().id
        product_stock = product_result.one().stock
        
        #Updating products stock in products table
        if product_stock < amount_ordered:
            sys.exit("Not enough products in stock.")
        else:
            updated_stock = product_stock - amount_ordered
            update_product_query = "UPDATE products SET stock = %s WHERE id = %s"
            stock_result = session.execute(update_product_query, (updated_stock,product_id,))
            
    except Exception as e:
        print(f"Sorry, this product does not exist in our shop: {e}")
    
    #Placing order
    order_data = [uuid.uuid4(),user_id,product_id,amount_ordered,datetime.now()]    
    order_query = "INSERT INTO orders (id, user_id, product_id, amount, date) VALUES(%s,%s,%s,%s,%s)"  
    inserting_order = session.execute(order_query, order_data)
    
    print("Products ordered successfully!")

In [13]:
order("Johny","Bravo","PC",4)

Products ordered successfully!

In [14]:
order("Johny","Bravo","Phone",1000)

SystemExit: Not enough products in stock.

C:\Users\Kristina\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\IPython\core\interactiveshell.py:3513: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [15]:
order("Johny","Bravo","Phone",15)

Products ordered successfully!

### Retrieve a user's order history using CQL (Cassandra Query Language).

In [16]:
def orders_history(user_name,user_last_name):
    
    user_id = check_user_id(user_name,user_last_name)    
    
    orders_history_query = "SELECT * FROM orders WHERE user_id = %s ALLOW FILTERING"
    results = session.execute(orders_history_query,(user_id,))

    for row in results:
        print(f"Order id: {row.id}")
        print(f"User name: {user_name}")
        print(f"User last name: {user_last_name}")
        print(f"Product id: {row.product_id}")
        print(f"Products ordered: {row.amount}")
        print(f"Date: {row.date}")
        print()

In [17]:
orders_history("Johny","Bravo")

Order id: 4736836b-d4d7-41f7-a251-a9874f656814
User name: Johny
User last name: Bravo
Product id: b240098f-df43-43e9-be03-53dcb2f17ff7
Products ordered: 4
Date: 2023-08-25 15:44:17.920000

Order id: f1953d94-d435-4c72-bb1c-9a0e037094c0
User name: Johny
User last name: Bravo
Product id: a68c1af5-ada2-4f19-8361-2b63ee32fed5
Products ordered: 15
Date: 2023-08-25 15:44:19.964000

### Closing connection

In [18]:
session.shutdown()
cluster.shutdown()

## 3. Time-Series Data:

### Design a schema to handle time-series data, such as IoT sensor readings.

#### Importing libraries

In [19]:
import random
from randomtimestamp import randomtimestamp

#### Creating a connection to database

In [20]:
cluster = Cluster(["127.0.0.1"], port=9042)

In [21]:
session = cluster.connect()

In [22]:
create_keyspace_query = """
    CREATE KEYSPACE IF NOT EXISTS parking_lot
    WITH replication = {'class':'SimpleStrategy', 'replication_factor':1}
"""

session.execute(create_keyspace_query)

In [23]:
session.execute("USE parking_lot")

#### Creating table:

In [24]:
session.execute(""" 
    CREATE TABLE IF NOT EXISTS parking_tickets (
        id UUID, 
        parking_lot_number INT,
        car_plate TEXT,
        start_time TIMESTAMP,
        end_time TIMESTAMP,
        total_time INT,
        amount_to_pay DECIMAL,
        PRIMARY KEY (parking_lot_number, start_time)
    ) WITH CLUSTERING ORDER BY (start_time DESC);
""")

### Insert and retrieve time-series data efficiently, using appropriate time-based partitioning.

#### Defining a function for input rows:

In [25]:
def parking():
        
    ticket_id = uuid.uuid4()
    
    parking_lot_number = random.randint(1, 5)
    
    chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    nums = '0123456789'
    car_plate = ''.join([random.choice(chars) for i in range(3)]+[random.choice(nums) for i in range(3)])
    
    start_time = randomtimestamp(
    2023,
    2023,
    False,
    datetime(2023, 8, 8, 0, 0, 0),
    datetime(2023, 8, 8, 11, 59, 59),
    "%d-%m-%Y %H:%M:%S")
    
    end_time = randomtimestamp(
    2023,
    2023,
    False,
    datetime(2023, 8, 8, 12, 0, 0),
    datetime(2023, 8, 8, 23, 59, 59),
    "%d-%m-%Y %H:%M:%S")
    
    total_time = round((end_time - start_time).total_seconds())
    price_per_sec = 0.016
    
    amount_to_pay = round(total_time * price_per_sec)/100

    tickets_insertion_query = """
    INSERT INTO parking_tickets (
        id, parking_lot_number, car_plate, start_time, end_time, total_time, amount_to_pay
        ) VALUES(%s,%s,%s,%s,%s,%s,%s)
    """

    session.execute(tickets_insertion_query, (ticket_id, parking_lot_number, car_plate, start_time, end_time, total_time,amount_to_pay))

#### Inserting data:

In [26]:
for _ in range(50):
    parking()

#### Retrieving data:

In [27]:
select_readings_query = """
SELECT * FROM parking_tickets
"""

results = session.execute(select_readings_query)

for row in results:
    print(f"Ticket_id:{row.id}")  
    print(f"Parking lot number: {row.parking_lot_number}")    
    print(f"Car plate: {row.car_plate}")    
    print(f"Parking started: {row.start_time}")    
    print(f"Parking ended: {row.end_time}")    
    print(f"Total time (seconds): {row.total_time}")    
    print(f"Amount to pay: {row.amount_to_pay}")  
    print()

Ticket_id:e2309e6f-7499-4b4e-aeac-2776da30ede0
Parking lot number: 5
Car plate: CSB221
Parking started: 2023-08-08 11:55:09
Parking ended: 2023-08-08 23:17:00
Total time (seconds): 40911
Amount to pay: 6.55

Ticket_id:f3701fd2-1eb4-4cdf-b47b-7d4cc29d68fb
Parking lot number: 5
Car plate: THV549
Parking started: 2023-08-08 11:06:26
Parking ended: 2023-08-08 12:44:51
Total time (seconds): 5905
Amount to pay: 0.94

Ticket_id:ad374a78-07bd-4d69-9aa2-1f853cb35e03
Parking lot number: 5
Car plate: OOX479
Parking started: 2023-08-08 10:22:52
Parking ended: 2023-08-08 18:16:55
Total time (seconds): 28443
Amount to pay: 4.55

Ticket_id:16f6f505-2c8a-4783-ab8f-3c261f954fcf
Parking lot number: 5
Car plate: ZCD027
Parking started: 2023-08-08 07:39:38
Parking ended: 2023-08-08 19:46:51
Total time (seconds): 43633
Amount to pay: 6.98

Ticket_id:d36e99bf-52da-4903-94ee-c22bad34fc8a
Parking lot number: 5
Car plate: OQH968
Parking started: 2023-08-08 05:16:47
Parking ended: 2023-08-08 21:09:29
Total time (seconds): 57162
Amount to pay: 9.15

Ticket_id:deb802ef-cba8-4cb7-b949-d2df767605a8
Parking lot number: 5
Car plate: EDL094
Parking started: 2023-08-08 04:18:25
Parking ended: 2023-08-08 13:12:02
Total time (seconds): 32017
Amount to pay: 5.12

Ticket_id:b179da84-62ed-4993-999c-e7a7eff5c4dd
Parking lot number: 5
Car plate: SRV183
Parking started: 2023-08-08 03:04:20
Parking ended: 2023-08-08 13:33:45
Total time (seconds): 37765
Amount to pay: 6.04

Ticket_id:41d9576b-adef-4a2d-a52e-586ffef91db9
Parking lot number: 5
Car plate: UOD851
Parking started: 2023-08-08 02:35:31
Parking ended: 2023-08-08 21:07:15
Total time (seconds): 66704
Amount to pay: 10.67

Ticket_id:cc95920a-3d59-4abe-9bae-b7fdf0503cb9
Parking lot number: 5
Car plate: GKA989
Parking started: 2023-08-08 01:22:05
Parking ended: 2023-08-08 17:28:09
Total time (seconds): 57964
Amount to pay: 9.27

Ticket_id:8e6183e7-8fd4-4fab-aadf-7c6dc19f2a16
Parking lot number: 5
Car plate: NFU767
Parking started: 2023-08-08 00:08:42
Parking ended: 2023-08-08 22:36:23
Total time (seconds): 80861
Amount to pay: 12.94

Ticket_id:1326e03e-8df3-466e-b50b-492d777dd9cc
Parking lot number: 1
Car plate: FNA627
Parking started: 2023-08-08 11:43:56
Parking ended: 2023-08-08 23:56:36
Total time (seconds): 43960
Amount to pay: 7.03

Ticket_id:c50e9be3-4de5-46f8-b9f3-e31b418d15c4
Parking lot number: 1
Car plate: IZG102
Parking started: 2023-08-08 08:58:41
Parking ended: 2023-08-08 15:05:55
Total time (seconds): 22034
Amount to pay: 3.53

Ticket_id:15c3df37-a196-426a-878c-322ba05899b4
Parking lot number: 1
Car plate: MXW595
Parking started: 2023-08-08 08:47:43
Parking ended: 2023-08-08 18:12:03
Total time (seconds): 33860
Amount to pay: 5.42

Ticket_id:da99cfa9-03f8-4b0b-840e-be70f90f3ab0
Parking lot number: 1
Car plate: RXC325
Parking started: 2023-08-08 06:36:53
Parking ended: 2023-08-08 16:04:00
Total time (seconds): 34027
Amount to pay: 5.44

Ticket_id:133d31c4-87da-4a1f-8607-21a8f8cdc9a3
Parking lot number: 1
Car plate: KHN914
Parking started: 2023-08-08 06:24:20
Parking ended: 2023-08-08 16:59:27
Total time (seconds): 38107
Amount to pay: 6.1

Ticket_id:01fa2303-d1fd-472a-af66-f0ff517f0a7a
Parking lot number: 1
Car plate: SQW727
Parking started: 2023-08-08 06:20:02
Parking ended: 2023-08-08 21:35:45
Total time (seconds): 54943
Amount to pay: 8.79

Ticket_id:f838fc02-a4bd-4064-8cd0-9f70b608975f
Parking lot number: 1
Car plate: YSX590
Parking started: 2023-08-08 05:50:02
Parking ended: 2023-08-08 20:04:27
Total time (seconds): 51265
Amount to pay: 8.2

Ticket_id:64c0318a-0cf1-41c2-85de-69b4f6f90c05
Parking lot number: 1
Car plate: DLO751
Parking started: 2023-08-08 04:37:17
Parking ended: 2023-08-08 21:07:15
Total time (seconds): 59398
Amount to pay: 9.5

Ticket_id:a0ec34d9-b706-4b93-8f86-1918b94f22de
Parking lot number: 1
Car plate: YII874
Parking started: 2023-08-08 04:36:21
Parking ended: 2023-08-08 18:35:59
Total time (seconds): 50378
Amount to pay: 8.06

Ticket_id:d4daa4e0-a6ac-41e7-b02d-9ef7681ad2e4
Parking lot number: 1
Car plate: UYY431
Parking started: 2023-08-08 03:19:49
Parking ended: 2023-08-08 20:21:37
Total time (seconds): 61308
Amount to pay: 9.81

Ticket_id:0f855fa6-b9d5-42a7-8bc7-36adfd0672e6
Parking lot number: 1
Car plate: BTY159
Parking started: 2023-08-08 02:56:24
Parking ended: 2023-08-08 21:41:39
Total time (seconds): 67515
Amount to pay: 10.8

Ticket_id:28e40ae1-4d0e-45c9-ac55-b01e95bcbf37
Parking lot number: 2
Car plate: MYQ845
Parking started: 2023-08-08 11:35:40
Parking ended: 2023-08-08 15:38:21
Total time (seconds): 14561
Amount to pay: 2.33

Ticket_id:33038fa0-36b4-4d97-9990-e1029fdcc635
Parking lot number: 2
Car plate: URU942
Parking started: 2023-08-08 10:22:08
Parking ended: 2023-08-08 21:18:29
Total time (seconds): 39381
Amount to pay: 6.3

Ticket_id:2f9e2ce9-ef56-41c0-a79a-3ddbb8cb5b1f
Parking lot number: 2
Car plate: IMF700
Parking started: 2023-08-08 07:59:00
Parking ended: 2023-08-08 15:37:06
Total time (seconds): 27486
Amount to pay: 4.4

Ticket_id:3032b490-4386-4f39-b46e-c8d996f70840
Parking lot number: 2
Car plate: YLG751
Parking started: 2023-08-08 07:35:15
Parking ended: 2023-08-08 14:28:02
Total time (seconds): 24767
Amount to pay: 3.96

Ticket_id:b2ef1db7-c0ec-4588-9632-a12f491fe224
Parking lot number: 2
Car plate: WTQ389
Parking started: 2023-08-08 03:31:54
Parking ended: 2023-08-08 23:54:51
Total time (seconds): 73377
Amount to pay: 11.74

Ticket_id:593a2185-155b-4764-b0e0-f10e169ee2ba
Parking lot number: 2
Car plate: GMP720
Parking started: 2023-08-08 02:59:37
Parking ended: 2023-08-08 19:08:17
Total time (seconds): 58120
Amount to pay: 9.3

Ticket_id:426cfd5e-e502-44ae-8ca0-f5016f38aad1
Parking lot number: 2
Car plate: XJC474
Parking started: 2023-08-08 02:34:57
Parking ended: 2023-08-08 14:48:16
Total time (seconds): 43999
Amount to pay: 7.04

Ticket_id:bf06753a-6ac1-4979-9a46-43f278f8747c
Parking lot number: 2
Car plate: ZTA413
Parking started: 2023-08-08 02:24:46
Parking ended: 2023-08-08 15:58:38
Total time (seconds): 48832
Amount to pay: 7.81

Ticket_id:3899c630-9bdb-4a3a-974a-556a1bb7eccb
Parking lot number: 4
Car plate: AOW158
Parking started: 2023-08-08 11:32:36
Parking ended: 2023-08-08 17:49:54
Total time (seconds): 22638
Amount to pay: 3.62

Ticket_id:cb7d4143-1760-4e60-a19f-335b336e2dd1
Parking lot number: 4
Car plate: DRL986
Parking started: 2023-08-08 10:24:32
Parking ended: 2023-08-08 13:04:43
Total time (seconds): 9611
Amount to pay: 1.54

Ticket_id:8e322cba-e83f-4798-97fc-532178b8a693
Parking lot number: 4
Car plate: UBO435
Parking started: 2023-08-08 09:56:06
Parking ended: 2023-08-08 13:56:12
Total time (seconds): 14406
Amount to pay: 2.3

Ticket_id:5a299ddd-3076-4172-9ec2-c1769e9a7a1f
Parking lot number: 4
Car plate: BOY398
Parking started: 2023-08-08 09:38:46
Parking ended: 2023-08-08 17:23:55
Total time (seconds): 27909
Amount to pay: 4.47

Ticket_id:b08a8a2d-1553-493f-ab19-3a76bd7ef1d3
Parking lot number: 4
Car plate: WDY107
Parking started: 2023-08-08 09:25:59
Parking ended: 2023-08-08 14:02:56
Total time (seconds): 16617
Amount to pay: 2.66

Ticket_id:f180b4d9-6273-4134-ab5c-1fb3106fce3d
Parking lot number: 4
Car plate: NZV390
Parking started: 2023-08-08 09:05:20
Parking ended: 2023-08-08 13:19:33
Total time (seconds): 15253
Amount to pay: 2.44

Ticket_id:69249580-858f-45cc-9630-165ca94fc0af
Parking lot number: 4
Car plate: EMW021
Parking started: 2023-08-08 07:06:23
Parking ended: 2023-08-08 17:12:15
Total time (seconds): 36352
Amount to pay: 5.82

Ticket_id:392b4fa8-f6e2-4306-8c69-4c707af10f5a
Parking lot number: 4
Car plate: GPP084
Parking started: 2023-08-08 06:04:11
Parking ended: 2023-08-08 17:21:48
Total time (seconds): 40657
Amount to pay: 6.51

Ticket_id:8da3a002-9e15-4d27-b17b-e15736cad025
Parking lot number: 4
Car plate: BED598
Parking started: 2023-08-08 05:28:05
Parking ended: 2023-08-08 23:46:36
Total time (seconds): 65911
Amount to pay: 10.55

Ticket_id:411c4ee2-ac4e-424b-9331-25002eeffc55
Parking lot number: 4
Car plate: ECI880
Parking started: 2023-08-08 04:21:41
Parking ended: 2023-08-08 17:33:51
Total time (seconds): 47530
Amount to pay: 7.6

Ticket_id:915d3458-0a11-4be9-b589-237456d1d3ca
Parking lot number: 4
Car plate: EIZ905
Parking started: 2023-08-08 01:02:29
Parking ended: 2023-08-08 13:13:59
Total time (seconds): 43890
Amount to pay: 7.02

Ticket_id:34c3c5a2-9c96-4fdb-83e4-652e47f2ecfa
Parking lot number: 3
Car plate: ENH546
Parking started: 2023-08-08 11:32:17
Parking ended: 2023-08-08 23:27:01
Total time (seconds): 42884
Amount to pay: 6.86

Ticket_id:3fe2bafc-0028-43d3-adbe-4404541e612c
Parking lot number: 3
Car plate: PYV756
Parking started: 2023-08-08 10:22:15
Parking ended: 2023-08-08 23:12:16
Total time (seconds): 46201
Amount to pay: 7.39

Ticket_id:88414f94-57ed-4a4e-9559-50fb65f4d2be
Parking lot number: 3
Car plate: CIL425
Parking started: 2023-08-08 09:33:06
Parking ended: 2023-08-08 18:29:41
Total time (seconds): 32195
Amount to pay: 5.15

Ticket_id:01437cf8-898a-45d9-bd87-de75d35f7fbb
Parking lot number: 3
Car plate: EKG666
Parking started: 2023-08-08 09:02:53
Parking ended: 2023-08-08 20:57:53
Total time (seconds): 42900
Amount to pay: 6.86

Ticket_id:d542ab0c-8381-474a-9db2-e23f7836bde6
Parking lot number: 3
Car plate: PXN488
Parking started: 2023-08-08 06:13:04
Parking ended: 2023-08-08 16:58:53
Total time (seconds): 38749
Amount to pay: 6.2

Ticket_id:4b2f896b-e26f-4103-b1c3-ff9e45e3660f
Parking lot number: 3
Car plate: OGJ979
Parking started: 2023-08-08 05:18:04
Parking ended: 2023-08-08 14:52:03
Total time (seconds): 34439
Amount to pay: 5.51

Ticket_id:4f7f4017-337a-4235-8696-4960033e26a5
Parking lot number: 3
Car plate: FTG024
Parking started: 2023-08-08 04:50:51
Parking ended: 2023-08-08 16:18:26
Total time (seconds): 41255
Amount to pay: 6.6

Ticket_id:4c5b717f-0aa9-4b88-9920-c11dd1ef0fff
Parking lot number: 3
Car plate: AOV618
Parking started: 2023-08-08 03:43:12
Parking ended: 2023-08-08 15:58:59
Total time (seconds): 44147
Amount to pay: 7.06

Ticket_id:b7ceaabd-0e54-4b84-935d-c078355e496c
Parking lot number: 3
Car plate: KOT646
Parking started: 2023-08-08 02:23:54
Parking ended: 2023-08-08 23:06:20
Total time (seconds): 74546
Amount to pay: 11.93

Ticket_id:0cb2c254-4edd-4ee7-9998-9cfed8645354
Parking lot number: 3
Car plate: AIS281
Parking started: 2023-08-08 01:04:48
Parking ended: 2023-08-08 18:07:13
Total time (seconds): 61345
Amount to pay: 9.82

### Closing connection

In [28]:
session.shutdown()
cluster.shutdown()